<!DOCTYPE html>
<html>
<head>
  <% include partials/template/head.ejs %>
</head>

<body class="<%= page %>">
<div class="container">
  <div class="outline">
    <% include partials/template/header.ejs %>
    <% include partials/template/headEnding.ejs %>


    <section class="layout">
      <div class="primary">
        <div id="fb-root"></div>


        <div class="welcome">

                    <div class="userInsurance">

                      <div class="ui-userInfo">
                        <div class="userTypeHeading">USER ACCOUNT</div>
                        <ul>
                            <li>Account Reference: <span><%= memberData.id %></span></li>
                            <li>Full Name: <span><%= memberData.name %></span></li>
                            <li>Date Of Birth: <span><%= memberData.birthday %></span></li>
                            <li>Gender: <span><%= memberData.gender %></span></li>
                            <li class="address">Address: <textarea disabled name="address" rows="4" cols="50" > <%= memberData.address %> </textarea></li>
                            <li class="edit_account_details"><a href="../editUser?name=<%=memberData.name%>&&id=<%=memberData.id%>">Edit User Account</a></li>
                        </ul>

                      </div>
                    </div>
                    <hr>

          <div class="healthInsurance">
            <div class="insuranceTypeHeading">Health Insurance</div>

            <div class="insuranceLeftList">
              <ul class="ui-insuranceLeftList">
                <li>Health Policy Start Date: <span><%= memberData.policies[0].createdat %></span></li>
                <li>Health Policy Renewal Date: <span><%= memberData.policies[0].policyrenewal %></span></li>
              </ul>



              <ul class="ui-insuranceLeftList">
                    <%
                    var CCategories = memberData.policies[0].categories;
                    var cat_i, cov_i, cla_i;

                    if(CCategories.length > 0)
                    {
                      for(cat_i=0; cat_i<CCategories.length; cat_i++)
                      {
                        %>
                        <div class="benefits">
                          <span><%=CCategories[cat_i].category %></span>
                        </div>

                        <%


                        for(cov_i=0; cov_i<CCategories[cat_i].coverage.length; cov_i++)
                        {
                            %>
                            <li>COVER TYPE: <span><%=CCategories[cat_i].coverage[cov_i].item %></span></li>
                            <li>COVER BEGIN: <span><%=CCategories[cat_i].coverage[cov_i].begin %></span></li>
                            <li>PERCENTAGE: <span><%=CCategories[cat_i].coverage[cov_i].percentage %></span></li>

                            <li>No. Of Claims:
                              <%
                              if(CCategories[cat_i].coverage[cov_i].claims.amount === '0'){
                                %>
                                <span>0</span></li>
                                <%
                              }else{
                                %>
                                <span><%= CCategories[cat_i].coverage[cov_i].claims.length %></span></li>
                                <%
                              }
                              %>


                            <%
                              for(cla_i=0; cla_i<CCategories[cat_i].coverage[cov_i].claims.length; cla_i++)
                              {
                                  %>
                                  <li>CLAIM LIMIT (€): <span><%=CCategories[cat_i].coverage[cov_i].limit %></span></li>
                                  <li>TOTAL AMOUNT CLAIMED (€): <span><%= CCategories[cat_i].coverage[cov_i].claims[cla_i].amount %></span></li>
                                  <li>CLAIM MADE ON: <span><%= CCategories[cat_i].coverage[cov_i].claims[cla_i].date %></span></li>

                                  <%

                                  if( CCategories[cat_i].coverage[cov_i].claims[cla_i].amount  > CCategories[cat_i].coverage[cov_i].limit )
                                  {
                                    %>
                                      <span class="redC">Amount claimed is above your limit!</span><br><br><br>
                                    <%
                                  }
                              }
                              %>

                              <br>
                              <%
                        }
                      }
                    }else
                    {%>
                      <b>NO cover recored found</b>
                    <%}
                    %>
                </p>

              </ul>
            </div>




            <ul class="insuranceRightList">
              <li><a href="../healthClaim?name=<%=memberData.name%>&&id=<%=memberData.id%>">Make a claim</a></li>
            </ul>
          </div>


        </div>




      </div><!-- primary section -->

      <aside class="secondary">

      </aside><!-- secondary -->

    </section><!-- layout section -->


  </div>
</div>

<% include partials/template/footer.ejs %>
<% include partials/template/analytics.ejs %>

</body>
</html>
