<!DOCTYPE html>
<html>

<head>
    <% include partials/template/head.ejs %>
</head>

<body class="<%= page %>">

    <div class="container">
        <div class="outline">
            <% include partials/template/header.ejs %>

                <% include partials/template/headEnding.ejs %>

                    <section class="layout">
                        <div class="primary">

                            <div id="fb-root"></div>

                            <div class="welcomeText">

                                Hi
                                <%
                                if(memberData.loginLast === 'DD/MM/YYYY'){
                                  %>
                                    <%= memberData.name %>, <span id="MemberName"></span>Welcome to CloudCo, please update your account details %>
                                  <%
                                }else{
                                  %>
                                    <%= memberData.name %>, <span id="MemberName"></span>Welcome back, you last logged into CloudCo on: <%= memberData.loginLast %>
                                  <%
                                }
                                %>

                            </div>

                            <div class="welcome">


                                <div class="userInsurance">

                                    <div class="ui-userInfo">
                                        <div class="userTypeHeading">USER ACCOUNT</div>

                                        <ul>
                                            <li>Account Reference: <span><%= memberData.id %></span></li>
                                            <li>Full Name: <span><%= memberData.name %></span></li>
                                            <li>Date Of Birth: <span><%= memberData.birthday %></span></li>
                                            <li>Gender: <span><%= memberData.gender %></span></li>
                                            <li class="address">Address: <textarea disabled name="address" rows="4" cols="50" > <%= memberData.address %> </textarea></li>

                                            <li class="edit_account_details"><a href="../editUser?name=<%=memberData.name%>&&id=<%=memberData.id%>">Edit User Account</a></li>

                                        </ul>

                                    </div>
                                </div>
                            </div>


                            <aside class="insuranceIcons">
                                <h3>You have <a href="../health?name=<%=memberData.name%>&&id=<%=memberData.id%>">HEALTH</a> policy cover vaild until <%= memberData.policies[0].policyrenewal %> </h3>

                                <div class="tiles">
                                    <a href="../health?name=<%=memberData.name%>&&id=<%=memberData.id%>">
                                        <div class="tile">
                                            <div class="glow">
                                                <img class="tileImage" src="images/wash/health.svg">
                                            </div>
                                            <div class="label ">HEALTH</div>
                                        </div>
                                    </a>
                                </div>
                            </aside>
                            <!-- secondary -->



                        </div>
                        <!-- primary section -->

                        <aside class="secondary">

                        </aside>
                        <!-- secondary -->

                    </section>
                    <!-- layout section -->


        </div>
    </div>

    <% include partials/template/footer.ejs %>
        <% include partials/template/analytics.ejs %>

</body>

</html>
