<!DOCTYPE html>
<html>

<head>
    <% include partials/template/head.ejs %>
</head>

<body class="<%= page %>">

    <div class="container">
        <div class="outline">
            <% include partials/template/header.ejs %>

                <% include partials/template/headEnding.ejs %>

                    <section class="layout">
                        <div class="primary">

                            <div id="fb-root"></div>

                            <div class="welcomeText">

                                Hi
                                <%= memberData.first_name %>, <span id="MemberName"></span>Welcome to CloudCo Insurance

                            </div>

                            <div class="welcome">


                                <div class="userInsurance">

                                    <div class="ui-userInfo">
                                        <div class="userTypeHeading">USER ACCOUNT</div>

                                        <ul>
                                            <li>Account Reference: <span><%= memberData.payer_id %></span></li>
                                            <li>Full Name: <span><%= memberData.payer_name %></span></li>
                                            <li>Date Of Birth: <span><%= memberData.dob %></span></li>
                                            <li>Gender: <span><%= memberData.gender %></span></li>
                                            <li>Email: <span><%= memberData.registered_email %></span></li>
                                            <li>Mobile Number: <span><%= memberData.registered_mobile %></span></li>
                                            <li class="address">Address: <span>
                    <%= memberData.address.street_line_1 %><br>
                    <%= memberData.address.street_line_2 %><br>
                    <%= memberData.address.zip %>,<br>
                    <%= memberData.address.country %>
                  </span></li>
                                            <li class="edit_account_details"><a href="#">Edit User Account</a></li>

                                        </ul>

                                    </div>
                                </div>
                            </div>


                            <aside class="insuranceIcons">
                                <h3>You have three policies under your account, <span>click to view details</span></h3>

                                <div class="tiles">
                                    <a href="/home">
                                        <div class="tile">
                                            <div class="glow">
                                                <img class="tileImage" src="images/wash/house.svg">
                                            </div>
                                            <div class="label ">HOME</div>
                                        </div>
                                    </a>
                                    <a href="/health">
                                        <div class="tile">
                                            <div class="glow">
                                                <img class="tileImage" src="images/wash/health.svg">
                                            </div>
                                            <div class="label ">HEALTH</div>
                                        </div>
                                    </a>
                                    <a href="/auto">
                                        <div class="tile">
                                            <div class="glow">
                                                <img class="tileImage " src="images/wash/car.svg">
                                            </div>
                                            <div class="label ">AUTO</div>
                                        </div>
                                    </a>
                                </div>
                            </aside>
                            <!-- secondary -->







                        </div>
                        <!-- primary section -->

                        <aside class="secondary">

                        </aside>
                        <!-- secondary -->

                    </section>
                    <!-- layout section -->


        </div>
    </div>

    <% include partials/template/footer.ejs %>
        <% include partials/template/analytics.ejs %>

</body>

</html>